<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
    <div class="containner">
        <div sec:authorize="isAuthenticated()">
            <p>User has logged in</p>
            <p>User: <span sec:authentication="name"></span></p>
            <p>Role: <span sec:authentication="principal.authorities"></span></p>
        </div>

        <div sec:authorize="isAnonymous()">
            <p>User hasn't logged in</p>
        </div>

    </div>


    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>